<a href="https://colab.research.google.com/github/Shaik-Sajid-internship/GitBasics/blob/master/Dat_11.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# With return type and with arguments
# Reading - Main
# Prinitng - Main
# Logic - Function

def printnumbers(k):
    j = []
    for b in range(1,k+1):
        j.append(b)
    return j

n = int(input())
for z in range(1,len(printnumbers(n))+1):
    print(z,end=" ")

20
1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20

In [2]:
# With return type and without arguments
# Reading - Function
# Prinitng - Main
# Logic - Function

def evennumbers():
    k,c = int(input()),[] 
    for b in range(1,k+1):
        if b%2 == 0:
            c.append(b)
    return c

for z in evennumbers():
    print(z,end=" ")

20
2 4 6 8 10 12 14 16 18 20

In [3]:
# Without return type and with arguments
# Reading - Main
# Prinitng - Function
# Logic - Function

def oddnumbers(m):
    for i in range(1,m+1):
        if i%2!=0:
            print(i,end=" ")
    return 

b = int(input())
oddnumbers(b)

10
1 3 5 7 9

In [4]:
# Without return type and without arguments
# Reading - Function
# Prinitng - Function
# Logic - Function

def skippingvalues():
    n = int(input())
    m = int(input())
    s = int(input())
    for j in range(n,m,s):
        print(j,end=" ")
    return 

skippingvalues()

20
100
15
20 35 50 65 80 95

In [5]:
# required arguments

def student(n,a,p):
    print("Your Name is: {}\nYour age is: {}".format(n,a,p))
    return 

name = input("Enter a name: ")
age = int(input("Enter an age: "))
student(name,age)

Enter a name: yamini
Enter an age: 78

TypeError: ignored

In [6]:
# Default arguments

def employee(k,n,p=89,s=45000):
    print("Employee Name is: {}\nEmployee Age is: {}\nEmployee Salary is: {}".format(k,p,s))
    return

n = input("Enter Employee Name: ")
# m = int(input("Enter Employee Age: "))
employee(n)

Enter Employee Name: prasad

TypeError: ignored

In [7]:
# Keyword argument

def college(y,c):
    print("Your collegename is: {}\nYour Year is: {}".format(c,y))
    return

# cname = input("Enter Your Collegename: ")
# year = int(input("Enter Your Year: "))
college(c=input("Enter Your Collegename: "),y=int(input("Enter Your Year: ")))

Enter Your Collegename: srn
Enter Your Year: 2010
Your collegename is: srn
Your Year is: 2010

In [8]:
# Variable Length Arguments:

def number(y,*p):
    print(y,type(y))
    print(p,type(p))
    b = []
    for i in p:
        b.append(int(i))
    print(sum(b))
    return

b = int(input())
k = input()
g = input()
number(b,k,g)

4
56
4
4 <class 'int'>
('56', '4') <class 'tuple'>
60

In [9]:
c = {}
def contact(name,*t):
    c[name] = t
    return c

name = input()
mobile = int(input())
age = int(input())
sal = int(input())
contact(name,mobile,age,sal)
print(c)

ramu
889956421
56
50000
{'ramu': (889956421, 56, 50000)}