<a href="https://colab.research.google.com/github/Shaik-Sajid-internship/GitBasics/blob/master/Day_04.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

input:20
output:
        19AK1A0501
        | | | | |
        19AKA0509
        19AK1A0510

In [3]:
n=int(input())
for j in range(n):
  print("19AK1A05{:02}".format(j))

11
19AK1A0500
19AK1A0501
19AK1A0502
19AK1A0503
19AK1A0504
19AK1A0505
19AK1A0506
19AK1A0507
19AK1A0508
19AK1A0509
19AK1A0510

In [5]:
n=int(input())
i=1
while n!=10:
  print(n,end=" ")
  n=n-1

20
20 19 18 17 16 15 14 13 12 11

In [6]:
m=int(input())
i=1
while m!=i:
  print(i,end=" ")
  i=i+1

20
1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19

input:1259
output:
        given number is:1259
        reverse of a number:95
21
      given number is 1259 and i
      ts reverse is:9521

In [7]:
n=int(input())
r=0
p=n
while n!=0:
  r=r*10+n%10
  n//=10
print("given number is :{}\n reverse of a number is :{}\n" "given number is {} and its reverse is:{}".format(p,r,p,r))

1259
given number is :1259
 reverse of a number is :9521
given number is 1259 and its reverse is:9521

In [8]:
n=int(input())
for k in range(n+1):
  print(k,end=",")

10
0,1,2,3,4,5,6,7,8,9,10,

In [9]:
n=int(input())
for h in range(n):
  if h==5:
    break
  else:
    print(h,end=" ")
print("\n",h)

100
0 1 2 3 4
 5

In [12]:
n=int(input())
for h in range(n):
  if h==5:
    continue
  else:
    print(h,end=",")
print("\n",h)

20
0,1,2,3,4,6,7,8,9,10,11,12,13,14,15,16,17,18,19,
 19

In [13]:
n=int(input())
for b in range(n):
  if b==0:
    pass
  else:
    print(b,end=",")

10
1,2,3,4,5,6,7,8,9,

In [15]:
for i in 'hello':
  if(i=="e"):
    print('pass executed')
    pass
  print(i)
print('--------')
for i in 'hello':
  if(i=='e'):
    print('continue executed')
    continue
  print(i)

h
pass executed
e
l
l
o
--------
h
continue executed
l
l
o

In [19]:
a=1
for i in range(1,6):
  for j in range(1,8):
    if i==2:
      print("&&",end=" ")
    elif j==3:
      print("||",end=" ")
    elif a<=31:
      if a%5==0:
        print("##",end=" ")
      elif a%2==0:
        print("**",end=" ")
      elif a%3==0:
        print("()",end=" ")
      else:
        print("[]",end=" ")
    else:
      break
    a=a+1
  print(end="\n")

[] ** || ** ## ** []
&& && && && && && &&
## ** || ** [] ## ()
** [] || ## ** () **
[] ## ||