<a href="https://colab.research.google.com/github/Shaik-Sajid-internship/GitBasics/blob/master/Day_10.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
g = {45,'a',45,120,155,450,"Ramu"}
print(g)

{450, 45, 'Ramu', 'a', 155, 120}

In [2]:
g

{120, 155, 45, 450, 'Ramu', 'a'}

In [3]:
h = {}
m = {2}
print(h,type(h))
print(m,type(m))

{} <class 'dict'>
{2} <class 'set'>

In [4]:
print(dir(set))

['__and__', '__class__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__gt__', '__hash__', '__iand__', '__init__', '__init_subclass__', '__ior__', '__isub__', '__iter__', '__ixor__', '__le__', '__len__', '__lt__', '__ne__', '__new__', '__or__', '__rand__', '__reduce__', '__reduce_ex__', '__repr__', '__ror__', '__rsub__', '__rxor__', '__setattr__', '__sizeof__', '__str__', '__sub__', '__subclasshook__', '__xor__', 'add', 'clear', 'copy', 'difference', 'difference_update', 'discard', 'intersection', 'intersection_update', 'isdisjoint', 'issubset', 'issuperset', 'pop', 'remove', 'symmetric_difference', 'symmetric_difference_update', 'union', 'update']

In [5]:
s1 = {34,67,"ramu",0,"lalitha"}
s1.add("prasanna")
print(s1)

{0, 'ramu', 34, 67, 'prasanna', 'lalitha'}

In [6]:
s1

{0, 34, 67, 'lalitha', 'prasanna', 'ramu'}

In [7]:
s1[2]

TypeError: ignored

In [8]:
print(s1)
s1.pop()
print(s1)

{0, 'ramu', 34, 67, 'prasanna', 'lalitha'}
{'ramu', 34, 67, 'prasanna', 'lalitha'}

In [9]:
s1

{34, 67, 'lalitha', 'prasanna', 'ramu'}

In [10]:
print(s1)
s1.pop()
print(s1)

{'ramu', 34, 67, 'prasanna', 'lalitha'}
{34, 67, 'prasanna', 'lalitha'}

In [11]:
print(s1)
s1.pop('ramu')
print(s1)

{34, 67, 'prasanna', 'lalitha'}

TypeError: ignored

In [12]:
print(s1)
s1.remove('ramu')
print(s1)

{34, 67, 'prasanna', 'lalitha'}

KeyError: ignored

In [13]:
print(s1)
s1.remove("prasanna")
print(s1)

{34, 67, 'prasanna', 'lalitha'}
{34, 67, 'lalitha'}

In [14]:
print(s1)
s1.remove(2)
print(s1)

{34, 67, 'lalitha'}

KeyError: ignored

In [15]:
s2 = {45,8,32,5,6}
s3 = {1,2,5,7,6,123,456}
print(s2)
print(s3)
print(s3.union(s2))
print(s2)
print(s3)

{32, 5, 6, 8, 45}
{1, 2, 5, 6, 7, 456, 123}
{32, 1, 2, 5, 6, 7, 456, 8, 45, 123}
{32, 5, 6, 8, 45}
{1, 2, 5, 6, 7, 456, 123}

In [16]:
print(s2)
print(s3)
print(s3.intersection(s2))
print(s2)
print(s3)

{32, 5, 6, 8, 45}
{1, 2, 5, 6, 7, 456, 123}
{5, 6}
{32, 5, 6, 8, 45}
{1, 2, 5, 6, 7, 456, 123}

In [17]:
t = {'name':("ramu","suresh","tejaswini"),'age':20,'sal':[24.500,48.560]}
print(t,type(t))

{'name': ('ramu', 'suresh', 'tejaswini'), 'age': 20, 'sal': [24.5, 48.56]} <class 'dict'>

In [18]:
print(t['sal'][0])

24.5

In [19]:
print(dir(dict))

['__class__', '__contains__', '__delattr__', '__delitem__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__setattr__', '__setitem__', '__sizeof__', '__str__', '__subclasshook__', 'clear', 'copy', 'fromkeys', 'get', 'items', 'keys', 'pop', 'popitem', 'setdefault', 'update', 'values']

In [20]:
print(t.keys())

dict_keys(['name', 'age', 'sal'])

In [21]:
print(t.values())

dict_values([('ramu', 'suresh', 'tejaswini'), 20, [24.5, 48.56]])

In [22]:
y = {'name':"tilak","age":[45,59],"sal":0}
print(y)

{'name': 'tilak', 'age': [45, 59], 'sal': 0}

In [23]:
print(t.items())

dict_items([('name', ('ramu', 'suresh', 'tejaswini')), ('age', 20), ('sal', [24.5, 48.56])])

In [24]:
[(key,value),(),()]

NameError: ignored

In [25]:
print(t.get('name'))
print(t.get('age'))
print(t.get('no'))

('ramu', 'suresh', 'tejaswini')
20
None

In [26]:
print(t)

{'name': ('ramu', 'suresh', 'tejaswini'), 'age': 20, 'sal': [24.5, 48.56]}

In [27]:
print(t)
t['no'] = [12,78,89,450]
print(t)

{'name': ('ramu', 'suresh', 'tejaswini'), 'age': 20, 'sal': [24.5, 48.56]}
{'name': ('ramu', 'suresh', 'tejaswini'), 'age': 20, 'sal': [24.5, 48.56], 'no': [12, 78, 89, 450]}

In [28]:
print(t)
t['no'] = "yamini"
print(t)

{'name': ('ramu', 'suresh', 'tejaswini'), 'age': 20, 'sal': [24.5, 48.56], 'no': [12, 78, 89, 450]}
{'name': ('ramu', 'suresh', 'tejaswini'), 'age': 20, 'sal': [24.5, 48.56], 'no': 'yamini'}

In [29]:
print(t)
t.setdefault('tr')
print(t)

{'name': ('ramu', 'suresh', 'tejaswini'), 'age': 20, 'sal': [24.5, 48.56], 'no': 'yamini'}
{'name': ('ramu', 'suresh', 'tejaswini'), 'age': 20, 'sal': [24.5, 48.56], 'no': 'yamini', 'tr': None}

In [30]:
print(t)
t.update({'tr':45})
print(t)

{'name': ('ramu', 'suresh', 'tejaswini'), 'age': 20, 'sal': [24.5, 48.56], 'no': 'yamini', 'tr': None}
{'name': ('ramu', 'suresh', 'tejaswini'), 'age': 20, 'sal': [24.5, 48.56], 'no': 'yamini', 'tr': 45}

In [31]:
print(t)

{'name': ('ramu', 'suresh', 'tejaswini'), 'age': 20, 'sal': [24.5, 48.56], 'no': 'yamini', 'tr': 45}

In [32]:
print(t.update({'tr':"ramu"}))

None

In [33]:
print(t)

{'name': ('ramu', 'suresh', 'tejaswini'), 'age': 20, 'sal': [24.5, 48.56], 'no': 'yamini', 'tr': 'ramu'}

In [34]:
print(t)
print(t.pop('age'))
print(t)

{'name': ('ramu', 'suresh', 'tejaswini'), 'age': 20, 'sal': [24.5, 48.56], 'no': 'yamini', 'tr': 'ramu'}
20
{'name': ('ramu', 'suresh', 'tejaswini'), 'sal': [24.5, 48.56], 'no': 'yamini', 'tr': 'ramu'}

In [35]:
print(t)
print(t.popitem())
print(t)

{'name': ('ramu', 'suresh', 'tejaswini'), 'sal': [24.5, 48.56], 'no': 'yamini', 'tr': 'ramu'}
('tr', 'ramu')
{'name': ('ramu', 'suresh', 'tejaswini'), 'sal': [24.5, 48.56], 'no': 'yamini'}

In [36]:
q = ['name','age','sal']
w = 78
print(q)
print(w)
f= {}
f.fromkeys(q,w)
print(f)

['name', 'age', 'sal']
78
{}

In [37]:
t = {'name':"ramu",'sno':1}
t1 = {}
t1 = t.fromkeys(q,w)
print(t1)

{'name': 78, 'age': 78, 'sal': 78}

In [38]:
marks = {}.fromkeys(["Maths","Python","C++"],[0,45])
print(marks)

{'Maths': [0, 45], 'Python': [0, 45], 'C++': [0, 45]}