<a href="https://colab.research.google.com/github/Shaik-Sajid-internship/GitBasics/blob/master/Day_03.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [7]:
n=int(input("enter a value:"))
m=input("enter a name:")
print("entered number is:",n)
print("entered name is: ",m)

enter a value:15
enter a name:rajesh
entered number is: 15
entered name is:  rajesh

In [9]:
n=int(input("enter a value:"))
m=input("enter a name:")
print("entered number is :%d"%n)
print("entered name is: %s"%m)

enter a value:15
enter a name:rajesh
entered number is :15
entered name is: rajesh

In [12]:
print("entered number is: %d and entered name is:%s"%(n,m))

entered number is: 15 and entered name is:rajesh

In [13]:
print("entered number is:{} and entered name is:{}".format(n,m))
print("enterd number is:{1}".format(n,m))
print("enterd name is:{0}".format(n,m))

entered number is:15 and entered name is:rajesh
enterd number is:rajesh
enterd name is:15

In [14]:
a=20
print(a>>2)

5

In [15]:
n=int(input())
if n==45:
  print("entered value is:{}".format(n))

45
entered value is:45

In [16]:
k=int(input())
m=int(input())
if k==m:
  print("enterd values {} and {} are equal".format(k,m))
else:
  print("entered values {} is not equal to {}".format(k,m))

12
26
entered values 12 is not equal to 26

In [17]:
n=int(input())
if (n<=200):
  if (n==100):
    print("entered value {} is equal to 100".format(n))
  else:
    print("entered value {} is not equal to 100 but it iss lower than 200".format(n))
else:
  print("entered value {} is greater than 200 ".format(n))

100
entered value 100 is equal to 100

In [18]:
h=int(input())
if h%4==0:
  print("enteerd value {} is divisible by 4".format(h))
elif h%2==0 & h%4 ==0:
  print("entered vallue is {} is divisible by 2 and 4".format(h))
elif h%2==0:
  print("entered value {} is divisible by 2".format(h))
else:
  print("entered value {} is not divisible by 2".format(h))

30
entered vallue is 30 is divisible by 2 and 4

In [19]:
n=int(input("enter a range value:"))
m=int(input("enter a ending range value:"))
for b in range(n,m):
  print(b,end=",")

enter a range value:100
enter a ending range value:120
100,101,102,103,104,105,106,107,108,109,110,111,112,113,114,115,116,117,118,119,

In [21]:
n=int(input("enter a starting range value:"))
m=int(input("enter a ending range value:"))
s=int(input("enter a stepping value:"))
for b in range(n,m,s):
  print(b,end=",")

enter a starting range value:0
enter a ending range value:200
enter a stepping value:70
0,70,140,

In [22]:
n=int(input("enter a starting range value:"))
m=int(input("enter a ending range value:"))
s=int(input("enter a stepping value:"))
for b in range(n,m,-s):
  print(b,end=",")

enter a starting range value:2
enter a ending range value:10
enter a stepping value:2

In [24]:
p=int(input())
k=int(input())
for a in range(p,k):
  print(k-a,end=" ")

1
10
9 8 7 6 5 4 3 2 1